---
---

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <title>RogueBookmarlets/</title>

</head>



forloop.index0 




<body>
  <h1>Bookmarklets yeah </h1>
  <ul id="bookmarks"></ul>
  <ul>    
    {% for marklet in site.static_files %}
      {% if marklet.path contains 'bookmarklets/' %}
      <li>
        {{ marklet.name | escape }}
        
        <div sytle="display:inline-block" id="script_code_{{ forloop.index0 }}"></div> 
        <div sytle="display:inline-block" id="script_edit_{{ forloop.index0 }}"></div>
        <div sytle="display:inline-block" id="script_marklet_{{ forloop.index0 }}"></div>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
  <!--source = <a href="{{ site.baseurl | escape }}/_data/{{ marklet[0] | escape }}.yml">source</a> </li>-->
  <!--  <a href="{{ marklet.path | escape }}">{{ marklet.name | escape }}</a>
        <a href="https://raw.githubusercontent.com/ktsuttlemyre/RogueBookmarklets/master/bookmarklets/{{ marklet.name | escape }}"><i class="fas fa-code"></i></a>-->
  
 <script>
  scripts=[
    {% for marklet in site.static_files %}
      {% if marklet.path contains 'bookmarklets/' %}
        {
          "edit":"https://github.com/ktsuttlemyre/RogueBookmarklets/edit/master/{{ marklet.path | escape }}",
          "href":"javascript:{{ marklet.path | escape }}",
          "name":"{{ marklet.name | escape }}",
          "src":"https://raw.githubusercontent.com/ktsuttlemyre/RogueBookmarklets/master/bookmarklets/{{ marklet.name | escape }}",
        },
      {% endif %}
    {% endfor %}
  ]
    
   scripts.forEach(function(script,index){     
                $('<a>',{
                    text: '<i class="fas fa-code"></i>',
                    title: script.name,
                    href: 'https://raw.githubusercontent.com/ktsuttlemyre/RogueBookmarklets/master/bookmarklets/'+script.name,
                    //click: function(){ BlahFunc( options.rowId );return false;}
                }).appendTo('#script_code_'+index);
     
                $('<a>',{
                    text: '<i class="fas fa-edit"></i>',
                    title: script.name,
                    href: script.edit,
                    //click: function(){ BlahFunc( options.rowId );return false;}
                }).appendTo('#script_edit_'+index);
     
     
     
            //var li = $('<li>'+script.name+' <a class="" href='+script.edit+'><i class="fas fa-edit"></i></a> <a href="https://raw.githubusercontent.com/ktsuttlemyre/RogueBookmarklets/master/bookmarklets/'+script.name+'"><i class="fas fa-code"></i></a> <div sytle="display:inline-block" id="script_'+index+'"></div></li>')
            //jQuery('#bookmarks').append(li);
            $.ajax({
                url: script.src,
                async: true,
                success: function (data){
                var link = $('<a>',{
                    text: '<i class="fas fa-play-circle"></i>',
                    title: script.name,
                    href: 'javascript:'+data,
                    //click: function(){ BlahFunc( options.rowId );return false;}
                }).appendTo('#script_marklet_'+index);
                  alert(data)
                }
             });
      });
   
   
  </script>
</body>
