---
---

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <title>RogueBookmarlets/</title>

</head>

<body>
  <h1>Bookmarklets 4 </h1>
  <ul id="bookmarks"></ul>
  <!--<ul>    
    {% for marklet in site.static_files %}
      {% if marklet.path contains 'bookmarklets/' %}
      <li>
        <a href="{{ marklet.path | escape }}">{{ marklet.name | escape }}</a>
        <a href="https://raw.githubusercontent.com/ktsuttlemyre/RogueBookmarklets/master/bookmarklets/{{ marklet.name | escape }}"><i class="fas fa-code"></i></a>
        
      </li>
      {% endif %}
    {% endfor %}
  </ul>-->
  <!--source = <a href="{{ site.baseurl | escape }}/_data/{{ marklet[0] | escape }}.yml">source</a> </li>-->
  
  
 <script>
  scripts=[
    {% for marklet in site.static_files %}
      {% if marklet.path contains 'bookmarklets/' %}
        {
          "href":"javascript:{{ marklet.path | escape }}",
          "name":"{{ marklet.name | escape }}",
          "src":"https://raw.githubusercontent.com/ktsuttlemyre/RogueBookmarklets/master/bookmarklets/{{ marklet.name | escape }}",
        },
      {% endif %}
    {% endfor %}
  ]
    
   scripts.forEach(function(script){
            var li = jQuery('<li><a class="" href='+script.href+'>'+script.name+'</a> <a href="https://raw.githubusercontent.com/ktsuttlemyre/RogueBookmarklets/master/bookmarklets/'+script.name+'"><i class="fas fa-code"></i></a> <span id="'+script.name+'"></span></li>')
            jQuery('#bookmarks').append(li);
     alert(script.src)
            $.ajax({
                url: script.src,
                async: true,
                success: function (data){
                  alert(data)
                    jQuery('#'+script.name).append(jQuery('<a href="javascript:'+data+'"><i class="far fa-play-circle"></i></a>'))
                }
             });
      });
   
   
  </script>
</body>
