---
#layout: default
---
{% assign curlyOpen = "{" %}
{% assign curlyClose = "}" %}
{% capture nl %}
{% endcapture %}


{% assign words = page.description | strip_newlines | split: " " %}

{% for word in words %}{% assign remainder = forloop.index | modulo: 5 %}{% if remainder == 0 %}{{ nl }}{% endif %}{{ word }}{% endfor %}



/**
 *  {{page.description}}
 *  Original Source: {{ curlyOpen }}@link {{ page.link }}{{ curlyClose }}
 *  @param {{ curlyOpen }}type{{ curlyClose }} describe what you expect to see as input
 *  @param {{ curlyOpen }}type{{ curlyClose }} describe what you expect to see as input
 *  @returns {{ curlyOpen }}type{{ curlyClose }}
 *  @author page.author 
 */
{{content}}

{{ raw }}
//Example:
/**
 *  Converts the entire page to grayscale.<br><i class="gray">Toggles the page color on and off.</i>
 *  Original Source {@link https://cdpn.io/bookmarklets/fullpage/NobJbq#}
 *  @returns {bool} isGrayscale 
 *  @author Original: Anon <https://codepen.io/bookmarklets>
 *  @author Modifided: Kyle Suttlemyre <http://tildestar.com>
 */
   {{ endraw }}
