---
#layout: default
---
//Wrapper Revision:{{ site.github.build_revision }}
{%- comment --%}
-----Options-----{%- endcomment -%}
{%- assign desciptionWordWrapLength = 7 -%}
{%- comment -%}
-----END OPTIONS-----

-----Predefined special characters-----{%- endcomment -%}
{%- assign curlyOpen = "{" -%}
{%- assign curlyClose = "}" -%}
{%- assign SPACE = "}" -%}
{% capture NL %}
{% endcapture %}
{% capture COMMENT_NL %}
 *  {% endcapture %}
{% capture PARAM_NL %}
 *  @param {% endcapture %}
{% capture AUTHOR_NL %}
 *  @author Contributor: {% endcapture %}
{%- comment -%}
-----END Predefined Special Charaters-----

-----Data preprocess----- {%- endcomment -%}
{%- assign words = page.description | split: " " -%}


{%- comment -%}-----TEMPLATE-----{%- endcomment -%}
/**
 *  {% for word in words %}{% assign remainder = forloop.index | modulo: desciptionWordWrapLength %}{% if remainder == 0 %}{{ COMMENT_NL }}{% endif %}{{ word }} {% endfor %}
 *  
 *  @param {{ page.params | split: NL | join: PARAM_NL }} 
 *  @returns {{ page.returns | replace: NL, COMMENT_NL }}
 *
 *  @author Original: {{ page.authors | split: NL | join: AUTHOR_NL }} 
{%- if page.originalsource -%}{{ COMMENT_NL }}@see OriginalSource: {{ curlyOpen }}@link {{ page.originalsource }}{{ curlyClose }} {% endif %}
 *  @see This is part of a collection of bookmarklets https://ktsuttlemyre.github.io/RogueBookmarklets/
 *  @see Hosted at https://ktsuttlemyre.github.io/RogueBookmarklets{{ page.url }}
 *  @file LastModified: {{ page.date }}
 */
{%- comment -%}
Special vars all functions get (to make them independent)
selection = if there was text selected it is now accessable via this variable
open = similar to window.open but will open modal, window, 
{% endcomment -%}
(function(window,document,RogueBM,serverSecret){
	// todo create fake window,document and also create fake about,confirm, prompt and other calls
	//https://stackoverflow.com/questions/17776830/looping-through-all-of-the-items-in-the-window-object#comment25928156_17776830
	var fakewindow = {}
	var obj = window;

	do Object.getOwnPropertyNames(obj).forEach(function(name) {
	       fakeWindow[name]=function(/*arguments*/){
	       	windowref[name].apply(windowref,arguments)
	       };
	   });
	while(obj = Object.getPrototypeOf(obj));


var currentCommandID=RogueBM['currentCommandID']
function alert(message){
    var skipAlerts=RogueBM['skipAlerts'][currentCommandID];
    if(skipAlerts){return autoConfirmAnswer;}
    return alert(message);
}
function confirm(){
    var autoConfirmAnswer=RogueBM['autoConfirm'][currentCommandID];
    if(typeof autoConfirmAnswer =='boolean'){return autoConfirmAnswer;}
    var args=RogueBM['handoffArgs'][currentCommandID];
    if(args.length){
         var arg=args.shift(); //maybe check if argument is a boolean and enforce it?
         return !!arg;
    }
    return window.confirm(message,value);
}
function prompt(message,value){
    var args=RogueBM['handoffArgs'][currentCommandID];
    if(args.length){
         var arg=args.shift(); //maybe check if argument is string and enforce it?
         return arg;
    }
    return window.prompt(message,value);
}

function getSelection(win,doc){
  var selection=(win.getSelection && win.getSelection() || doc.getSelection && doc.getSelection() || doc.selection && doc.selection.createRange && doc.selection.createRange().text).toString()
  if(selection){
  	return selection
  }
  //try to get from frames
  for(var i=0,l=win.frames.length;i<l;i++){
  	//call document this way because of IE
  	//https://stackoverflow.com/questions/17197084/difference-between-contentdocument-and-contentwindow-javascript-iframe-frame-acc
    selection=getSelection(win.frames[i].contentWindow,win.frames[i].contentDocument);
    if(selection){
      return selection;
    }
  }
}
var stdout=RogueBM['stdout'];
var selection = (stdout!=null)?stdout:(getSelection(global,global.document)||'');

  {{ content }}
})(null,null,window['RogueBM']||{},'{{ site.github.build_revision }}');



